*{
  font-family: 'Comfortaa', cursive;
}
body{
  background-color: black;
}
h1{
  color: white;
}
.collo{
  background-color: black;
  color: white;
}
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}


.ul-style{

}
.but{
  display:inline-flex;
}

.body{background-image: url(../Images/donut-burger.jpg);
    width:100%;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .imge{
   width: 100px;
   height: 100px;
  }
  .form{
   margin-left:25%;

  }
  .p-labe{
   margin-right:5%;
   font-family: fantasy;
   font-size:1.5em;
   font-weight: bold;
   letter-spacing:5px;
   text-shadow:1px 1px 2px rgba(0,0,0,1.9);
   color: rgb(33, 216, 223);
  }
  .p-labe1{
   font-family:Roboto;
   font-size:1.5em;
   font-weight: bold;
  letter-spacing:5px;
  text-shadow:1px 1px 2px rgba(0,0,0,1.9);
  color: rgb(36, 206, 197);
  }
  .h1{
  font-family: fantasy;
  font-weight: bold;
  letter-spacing:1px;
  color: white;
  font-style: italic;
  }
  .h3{
   margin-left:50%;
  font-family:cursive;
  font-weight: bold;
  letter-spacing:2px;
  text-shadow:2px 1px 1px rgba(0,0,0,1.9);
  color:White;
  }
  .back{
    background-color: rgba(0, 0, 0, 0.1);
    height: 400px;

  }
